.env
# Python environment
venv/
venv310/
.env
ENV/


# Bytecode
__pycache__/
*.pyc

# Django media
media/
audio-chunks/
test_audio/

# Logs
*.log

# VSCode
.vscode/

# Other
*.sqlite3

temp_audio/
audio/